---
layout: default
---

{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%B %d, %Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}{% endunless %}
   <div class="day">
    <h3 class="date">{{post.date | date: "%B %d, %Y"}}</h3>
    <div class="post">
    {% assign date = currentdate %}
  {% endif %}
    <div class="post">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
{% if page.l1 and page.t1 %}
  <ul class="link">
      <li><a href="{{ page.l1 }}">{{ page.t1 }}</a></li>
    {% if page.l2 and page.t2 %}
      <li><a href="{{ page.l2 }}">{{ page.t2 }}</a></li>
    {% endif %}
    
    {% if page.l3 and page.t3 %}
      <li><a href="{{ page.l3 }}">{{ page.t3 }}</a></li>
    {% endif %}
  </ul>
{% endif %}
      <p>{{ post.content }}</p>
    </div>
  </div> 
  {% if forloop.last %}{% endif %}
{% endfor %}