---
layout: default
---

<div class="home">
{% for post in site.posts %}
  {% assign currentdate = post.date | date: "%B %d, %Y" %}
  {% if currentdate != date %}
    {% unless forloop.first %}{% endunless %} 
   <div class="day">
    <h3 class="date">{{post.date | date: "%B %d, %Y"}}</h3>
    <div class="post">
    {% assign date = currentdate %}
  {% endif %}
    <div class="post">
      <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
      <p>{{ post.content }}</p>
{% if post.l1 and post.t1 %}
  <small>Referencing:</small>
  <ul class="link">
      <li><a href="{{ post.l1 }}">{{ post.t1 }}</a></li>
    {% if post.l2 and post.t2 %}
      <li><a href="{{ post.l2 }}">{{ post.t2 }}</a></li>
    {% endif %}
    
    {% if post.l3 and post.t3 %}
      <li><a href="{{ post.l3 }}">{{ post.t3 }}</a></li>
    {% endif %}
  </ul>
{% endif %}
    </div>
  </div>
  {% if forloop.last %}{% endif %}
{% endfor %}
</div> 